﻿
.page-contact-layout .container-section {
    max-width: 200%;
    width: 100%;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------------- CONTAINER ROW ---------------- */
.container-row {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
}

.row-item {
    width: 30%;
    border-radius: 14px;
    background: #FFFFFFCC;
    margin: 18px 0px;
}

    .row-item h2 {
        font-weight: 400;
        font-size: 26px;
        margin: 0 8px 0;
    }

.item-img {
    width: 70px;
    opacity: 0.68;
    border-radius: 30%;
    margin: 5px;
    cursor: pointer;
    transition: all 250ms ease;
}

    .item-img:hover {
        width: 80px;
        padding: 10px;
        margin: 5px;
        background: rgba(255, 165, 3, 0.7);
        opacity: 1;
    }

/* ---------------- MAP ---------------- */
.map {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
