<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsClub_Bancu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportsClub_Bancu.styles.css" asp-append-version="true" />
</head>
<body>
  <div id="header-top">
      <div class="logo">Мир Путешествий</div>
<div class="button-header">
    <button class="button">Войти</button>

</div>
  </div>

  <img class="img-header" src="~/images/fin.jpg" />

  <div id="header-bottom">
  <div class="menu">
      <ul>
          <li><a href="#home">Главная</a></li>
          <li><a href="#home">Контакты</a></li>
          <li><a href="#home">Страны</a></li>
          <li><a href="#home">Услуги</a></li>
      </ul>
      </div>
  </div>
  <div class="container">
      @RenderBody()
  </div>
</body>
</html>
